@{
    ViewBag.Title = "音乐专辑管理";
}

@Styles.Render("~/Content/Styles/layer")
@Scripts.Render("~/bundles/Scripts/layer")
<div class="default-bg space">
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="container">
        <div class="row tn-page-heading tn-mb-10">
            <div class="col-lg-12">
                <h3>音乐专辑管理</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" onclick="layermodal('新建音乐专辑','@Url.Action("_EditAlbum","ControlPanel")','450px','500px')"><i class="fa fa-plus"></i> 新建音乐专辑</button>
                    </div>
                </div>
                <!--是否要添加筛选或者搜索,是否要进行分页-->
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="_ListAlbums">
                    @Html.Action("_ListAlbums", "ControlPanel")
                </div>
            </div>
        </div>
    </div>
</div>
